<div class="note" data-note-id="<%= note.id %>">
  <div class="note__content"><a href="/notes/<%= note.id %>"><%= h note.content %></a></div>
  <div class="note__repo"><a href="http://github.com/<%= h note.github_repo %>"><%= h note.github_repo %></a></div>
</div>
